{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if g.user %}
        <a class="btn "href=" {{ url_for('contacts.add') }}">Add contact</a>
        <div class="contacts-container">
            {% for contact in contacts %}
            <div class="contact">
                <p>Name: {{ contact["name"] }}</p>
                <p>Phone: {{ contact["phone"] }}</p>
                <p>Notes: {{ contact["notes"] }}</p>
                <a class="action" href="{{ url_for('contacts.edit', contact_id=contact['id']) }}">Edit</a>
                <a class="action delete" href="{{ url_for('contacts.delete', contact_id=contact['id']) }}">Delete</a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>Contact manager for all!</h3>
        <p>Simple contact manager created to learn Flask.</p>
    {% endif %}

{% endblock %}